[submodule "hev-socks5-tunnel"]
	path = hev-socks5-tunnel
	url = https://github.com/heiher/hev-socks5-tunnel
[submodule "material-design-icons"]
	path = material-design-icons
	url = https://github.com/google/material-design-icons.git
